.font-size-15 {
    font-size: 15px;
}

.privacy-policy ol,
.privacy-policy ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.privacy-policy ol > li {
    margin-bottom: 20px;
}

@media (min-width: 990px) {
    .privacy-policy {
        padding-right: 200px;
    }
}
