.date-selection {
    position: relative;
    margin-bottom: 15px;
}

.date-selection a {
    color: #37346a;
    text-decoration: none;
    display: none;
}

.date-selection__control {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eae9e9;
}

.date-selection__control.right {
    right: 0;
    left: inherit;
}

.date-selection ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    color: #414141;
    border-radius: 5px;
}

.date-selection ul li {
    display: inline-block;
    /*background: #fff;
    border-right: 1px solid #ccc;*/
    padding: 8px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.date-selection ul li.active {
    color: #d93d39;
}

.date-selection ul li.active::after {
    position: absolute;
    content: '';
    bottom: 0;
    border-bottom:2px solid #d93d39;
    left: 0;
    right: 0;
}

.date-selection .items {
    text-align: center;
}

.weekly-dates {
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 12px;
}

.weekly-price {
    font-weight: 500;
}

.w-flight-list-heading-wrap {
    background: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    z-index: 1;
}

.w-flight-list-heading {
    padding: 5px 15px;
}

.w-flight-list-heading > ul {
    margin-bottom: 0;
}

.w-flight-listing ul li:last-child {
    width: 40%;
    padding-left: 65px;
}

.w-flight-listing ul li {
    width: 20%;
    display: inline-block;
    font-size: 1.3rem;
}

@media (max-width: 990px) {
    .w-flight-listing ul li {
        width: 22%;
    }
}


@media (min-width: 990px) {

    .w-flight-list-heading-wrap {
        position: sticky;
        top: 100px;
    }

    .w-flight-listing ul li:first-child {
        width: 30%;
    }

    .w-flight-listing.roundtrip-group-flight ul:first-child li {
        position: relative;
    }

    .w-flight-listing.roundtrip-group-flight .w-flight-list-heading > ul li:last-child:before {
        border: none;
    }

}

@media (min-width: 767px) {
    
    .w-flight-listing ul li.wdt-38 {
        width: 38%;
    }
    .w-flight-listing ul li.wdt-30 {
        width: 30%;
    }
}

.w-flight-list-heading ul li > i {
    margin-left: 4px;
}

.w-flight-list-heading ul li i.up {
    position: relative;
    top: 2px;
}
.w-flight-list-heading ul li i.down {
    position: relative;
    top: -2px;
}

.w-flight-list {
    background: #fff;
    padding: 20px 20px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: .1s;
}

.w-flight-list:hover {
    box-shadow: 0 0 5px #eaeaea;
    /*transform: scale(1.005);*/
}

.w-flight-listing.w-flight-listing-roundtrip {
    margin-bottom: 15px;
}

@media (max-width: 990px) {
    .w-flight-listing.w-flight-listing-roundtrip {
        margin-bottom: 0;
    }
}

.w-flight-listing-roundtrip .w-flight-list {
    height: 100%;
    margin-bottom: 0;
}

.air-flight__img {
    margin-right: 25px;
    width: 100px;
    overflow: hidden;
}

.air-flight__img img {
    height: 32px;
    /*border-radius: 5px;
    border: 1px solid #ccc;*/
}

.air-flight__details {
    margin-top: 4px;
}

.air-flight-duration {
    font-size: 10px;
}

.air-flight__details span, 
.air-flight-departure span, 
.air-flight-duration span, 
.air-flight-arrival span {
    color: #3e3d3d;
    display: block;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
}


.air-flight-departure span, .air-flight-arrival span, .air-flight-duration span strong {
    font-weight: 300;
}

.air-flight__details span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 102px;
    font-size: 10px;
}

/*.air-flight__details span:last-child {
    display: none;
}*/

.air-flight__details span:first-child {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
}

.air-flight-duration__divider {
    border-top: 2px solid #979797;
    width: 100px;
    height: 2px;
    display: none;
    position: relative;
    margin: 10px 0 2px;
}

.air-flight-duration__divider span {
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: -4px;
    margin: 0 auto;
}

.flight-details {
    border-top: 1px solid #f7f7f7;
    padding-top: 5px;
    margin-top: 10px;
}

.flight-details__wrapper {
    border-top: 1px solid #f7f7f7;
    padding-top: 10px;
    margin-top: 5px;
}

.flight-details > div > a:not([href]) {
    font-size: 12px;
    color: #d93d39;
}

.flight-details a .fa {
    display: none;
}

.flight-details__wrapper-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.flight-details__wrapper-list .list-item {
    text-transform: uppercase;
    margin-right: 12px;
    font-size: 12px;
    border-bottom: 2px solid #fff;
}

.flight-details__wrapper-list .list-item a:hover,
.flight-details__wrapper-list .list-item:hover {
    border-bottom-color: #d93d39;
    color: #d93d39;
}

.flight-details__wrapper-list .list-item.active {
    border-bottom-color: #d93d39;
}

.flight-details__wrapper-list .list-item.active a {
    color: #d93d39;
}

.flight-details__wrapper-heading {
    padding: 6px 15px;
    background: #52335d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: normal;
    border-radius: 3px;
}

/*.airline-text {
    margin-bottom: 25px;
}*/

.airline-text__img {
    margin-right: 12px;
}

.airline-text__img img {
    width: 85px;
}

.airline-text__flight {
    color: #878787;
    font-size: 1.2rem;
    line-height: normal;
}

.more-flights {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.more-flights__wrap {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #ccc;
}

.more-flights__wrap:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.more-flights h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.more-flights h3, 
.more-flights p {
    color: #414141;
}

.more-flights__details {
    display: flex;
    justify-content: space-between;
}

.more-flights p {
    font-size: 12px;
    margin-bottom: 2px;
}

.more-flights__details-price .air-flight-price span {
    margin-right: 15px;
}

.airline-details-wrapper {
    padding: 15px;
}

.air-flight-price .btn {
    padding: 5px 8px;
    font-size: 12px;
    margin-left: auto;
    white-space: nowrap;
    margin-left: auto;
}

.airline-departure-option p, 
.arrival-option p {
    margin-bottom: 0;
}

.date_details {
    color: #3b3b3b;
    font-size: 12px;
    line-height: normal;
}

.airport_details, 
.city_details {
    width: 100px;
    font-size: 11px;
    color: #878787;
    line-height: normal;
}

.line-map {
    border-bottom: 1px solid #979797;
    display: inline-block;
    vertical-align: super;
    position: relative;
    margin-top: 11px;
    color: #757575;
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
    margin-right: 25px;
}

.fli-list-flight_details__divider {
    position: relative;
    margin: 0 auto;
}

.fli-list-flight_details__divider:before {
    content: "";
    right: 0;
    border-top: 1px solid #9b9b9b;
    position: absolute;
    top: 50%;
    left: 0;
}

.flight_details__infoSctn {
    background: #fff;
    border-radius: 100px;
    color: #5c5c5c;
    line-height: 20px;
    text-align: center;
    border: 1px solid #979797;
    position: relative;
    z-index: 1;
    font-size: 14px;
    width: 80%;
    margin: 5px auto 10px;
    padding: 5px 0;
}

.flight_details__infoSctn p {
    margin-bottom: 0;
    font-size: 13px;
}

.flight_details__infoSctn p b {
    font-weight: 500;
}

.baggage-info__details {
    display: flex;
    color: #454545;
    font-size: 13px;
    margin-bottom: 8px;
}

.baggage-info__name {
    font-weight: 500;
}

.baggage-info__details > span {
    width: 33.3%;
}

.baggage-info__desc > span:first-child {
    border-left: none;
}

.fli-list-fare_details__left {
    width: 50%;
}

.fli-list-fare_details__left > div {
    color: #848484;
    margin-bottom: 8px;
}

.fli-list-fare_details__left > .fli-list-fare_details__left-heading {
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    padding-bottom: 2px;
}

.airline-fare-rules {
    max-height: 278px;
    overflow-y: auto;
}

.airline-fare-rules > div {
    font-weight: 300;
    text-transform: lowercase;
}

.airline-fare-rules .time-gap-cond {
    width: 50%;
    vertical-align: middle;
    padding: 7px 9px;
    border: 1px solid #f2f2f2;
    border-top: 0;
}

.airline-fare-rules .rules-heading .time-gap-cond {
    background-color: #f5f5f5;
    padding: 8px 10px;
}

.airline-fare-rules .rules-heading p {
    margin-bottom: 0;
}

.flight-lists .w-flight-list > ul {
    margin-bottom: 0;
}

.air-flight-price > span {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    color: #333;
}

.flight-list__summary {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media (min-width: 990px) {
    .baggage-info__details > span {
        padding-left: 10px;
    }
    .baggage-info__details > span:first-child {
        width: 25%;
    }
    .fli-list-flight_details__divider {
        width: 80%;
    }
    .w-flight-listing-roundtrip .air-flight__img img,
    .splitted-flight-fare-wrap .air-flight__img img {
        width: 70px;
    }
}


@media (max-width: 990px) {
    .air-flight {
        position: relative;
        top: 4px;
    }
    .air-flight__img img {
        width: 25px;
        height: auto;
    }

    .listing-top-section {
        display: none;
    }
    .date-selection {
        overflow: hidden;
    }
    .date-selection ul li {
        white-space: nowrap;
        width: 100px;
    }

    .air-flight, .air-flight-price {
        flex-direction: column;
        align-items: flex-start;
    }
    .air-flight-price {
        margin-left: auto;
    }
    .air-flight-price span {
        font-weight: 700;
        white-space: nowrap;
        font-size: 1.5rem; 
    }
    .air-flight-duration {
        font-size: 10px;
        margin: 0 4px;
    }
    .air-flight-duration a {
        color: #d93d39;
    }
    .air-flight-price .btn {
        padding: 0;
        background: none;
        border: none;
        color: #d93d39;
        font-weight: 500;
        margin-left: auto;
    }
    .flight-lists .w-flight-list {
        border-radius: 0;
        border: none;
        margin: 0 -15px;
        border-bottom: 1px solid #ccc;
    }
    /*.flight-lists .w-flight-list:last-child {
        margin-bottom: 20px;
    }*/
    .flight-details span {
        font-size: 10px;
        color: #33356c
    }
    .flight-details__wrapper {
        margin-top: 10px;
    }
    .flight-details__wrapper-list .list-item {
        text-transform: capitalize;
        margin-right: 8px;
        font-size: 12px;
    }
    .flight-details__wrapper-list .list-item:last-child {
        margin-right: 0;
    }
    .flight-details__wrapper .tab-content {
        margin-top: 12px;
    }
    .flight_details__infoSctn {
        width: 94%;
    }
    .line-map {
        padding: 0;
        margin-right: 10px;
    }
    .baggage-info__details {
        margin-bottom: 0;
    }
    .baggage-info {
        margin-top: 15px;
    }
    .air-flight__details span {
        font-size: 10px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        line-height: normal;
        padding-right: 5px;
    }
    .w-flight-listing ul li .air-flight__details {
        width: 70%;
    }
    .air-flight__details span, 
    .air-flight-departure span, 
    .air-flight-duration span, 
    .air-flight-arrival span {
        font-size: 1rem;
    }
    .air-flight-arrival span,
    .air-flight-departure span {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .w-flight-listing ul li:last-child {
        padding-left: 7px;
        width: 22%;
        position: relative;
    }
    .air-flight-departure,
    .air-flight-arrival {
        font-size: 1rem;
    }
    .w-flight-list-heading ul li {
        font-size: 12px;
        position: relative;
        text-align: center;
    }
    .w-flight-list-heading ul li i.up {
        position: absolute;
        top: 8px;
    }
    .w-flight-list-heading {
        padding: 0;
    }
    .arrow {
        border-width: 0 1px 1px 0;
        padding: 2.5px;
    } 
    body.hide-header-menu .main-nav {
        display: none;
    }
    .hide-header-menu .layout {
        padding-top: 50px;
    }
}

@media (min-width: 990px) and (max-width: 1024px) {
    .air-flight-price > span {
        font-size: 16px;
        font-weight: 600;
    }
}