.listing-top-section {
  padding: 8px 15px 12px;
  background: linear-gradient(to right, #d22a1e, #2b3570);
  background: -webkit-linear-gradient(left, #d22a1e, #2b3570);
  margin-bottom: 20px;
}

@media (min-width: 990px) {
    .listing-top-section {
       /* position: sticky;
        top: 0;
        z-index: 999;*/
        position: sticky;
        top: 0;
        z-index: 9;
    }
}

.listing-top-section__select-type label {
    margin-right: 12px;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.listing-top-section__select-type label > input {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.passengers .btn {
    padding: 10px 30px;
    text-transform: uppercase;
}

.listing-top-section__filter .filter-input {
    position: relative;
}

.listing-top-section__filter .filter-input input {
    font-size: 1.8rem;
}

.listing-top-section__filter .filter-input.passengers {
    width: 22rem;
}

.listing-top-section__filter .filter-input .ant-picker {
    padding: 0;
    width: 100%;
}

.listing-top-section__filter .ant-picker-input > input {
    color: #fff;
}

ul.location-result.res li:last-child {
    border-bottom: none;
}

ul.location-result.res input {
    width: auto;
    margin-right: 4px;
}

ul.location-result.res label {
    width: 100%;
    display: flex;
    align-items: center;
}

ul.location-result.res li button:not(.btn) {
    background: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    line-height: normal;
    margin-left: 8px;
}

.location-result__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-result__wrapper > span {
    color: inherit;
    font-size: 11px;
}

.passengers .location-result.res .btn {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 5px 12px;
    align-items: center;
}

.listing-top-section__filter .ant-picker-clear {
    background: none;
}

.listing-top-section__filter .ant-picker-clear span {
    color: #fff;
}

.listing-top-section__filter .ant-picker-input .ant-picker-clear {
    top: 14px;
    right: 20px;
}

/*
.listing-top-section__filter .ant-picker-input:hover .ant-picker-clear {
    top: 12px;
    right: 20px;
}*/

@media (min-width: 990px) {
    .listing-top-section__filter {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 990px) {
    .listing-top-section .container {
        padding: 0;
    }
    .listing-top-section__filter {
        display: flex;
        flex-wrap: wrap;
    }
    .listing-top-section__filter .filter-input {
        width: 50%;
    }
    .listing-top-section__filter .filter-input.passengers {
        width: 100%;
    }
    .listing-top-section__filter .btn {
        width: 100%;
        margin-top: 15px;
    }
}

.disabled {
    cursor: not-allowed;
    background-color: gray;
}