.page-my-profile .white-bg {
    box-shadow: none;
    border: 1px solid #f3f3f3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile-info__image {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d93d39;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.profile-info__image i {
    font-size: 22px;
}

.edit-profile .profile-info__image {
    width: 26px;
    height: 26px;
}

.edit-profile .profile-info__image i {
    font-size: 14px;
} 

.edit-profile img.profile-img {
    margin-right: 8px;
    border-radius: 50%;
}

.page-my-profile__right {
    padding-top: 22px;
}

.page-my-profile__right .profile-info__name {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.profile-info {
    position: relative;
}

.profile-info__desc--edit {
    position: absolute;
    right: 0;
    top: 0;
}

.profile-info__desc--edit i {
    cursor: pointer;
}

/* Edit Profile CSS starts */

.edit-profile .inp-wrapper,
.profile-popup .inp-wrapper {
    margin-bottom: 15px;
}

.edit-profile .inp-wrapper > label {
    width: 130px;
    margin-right: 15px;
}

.edit-profile .inp-wrapper .inp-wrapper__sec {
    margin-right: 10px;
    width: 100%;
}

.edit-profile .react-tel-input .form-control {
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 3px;
  padding: inherit;
  padding-left: 60px;
}

.edit-profile .form-control[type="file"] {
    line-height: normal;
}

.edit-profile .react-tel-input .form-control+div:before {
    top: -15px;
    left: 34px;
    font-size: 12px;
}

.edit-profile .inp-wrapper select.form-control.wdth-80 {
    width: 80px;
}

.flex-direction-column {
    flex-direction: column;
    align-items: flex-start;
}

.wdth-100 {
    width: 100%;
}

.show {
    display: block!important;
}

/* Modal Popup CSS starts*/

