.booking-status-table__heading {
    border-bottom: 1px solid #ccc; 
    margin-bottom: 15px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.manage-btn-wrap > .btn {
    padding: 0px 5px;
    color: #d93d39;
}

.manage-booking-popup__heading {
    display: flex;
    align-items: center;
    line-height: normal;
    margin-bottom: 10px;
}

.manage-booking-popup__heading > div {
    margin-right: 10px;
    min-width: 180px;
}

.manage-booking-popup .input-wrapper {
    margin-bottom: 10px;
}

.manage-booking-popup .terms {
    margin-bottom: 10px;
    line-height: 14px;
    font-size: 12px;
    text-indent: -18px;
    padding-left: 18px
}

.manage-booking-popup .terms input {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.manage-booking-popup .terms .invalid-feedback {
    font-size: 12px;
}

.req-voucher-wrapper {
    margin-bottom: 15px;
}

.my-booking-filters__heading {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 15px;
}

.my-booking-filters__heading i {
    font-size: 14px;
    color: #d93d39;
}

.my-booking-filters__options > div {
    margin-bottom: 15px;
}

.my-booking-filters__options .btn-primary {
    padding: 4px 12px;
}

@media (min-width: 767px) {
    .req-voucher {
        width: 600px;
        margin: 0 auto;
    }

    .req-voucher-wrapper > div:first-child {
        text-align: right;
    }

    .req-voucher-wrapper .form-control {
        width: 360px;
    }
}

@media (min-width: 767px) {
    .manage-booking-popup .modal-dialog {
        width: 410px;
    }
}

.show {
    display: block!important;
}

.modal-title {
    text-transform: capitalize;
}