.booking-status .h2 {
	background-color: #d93d39;
	padding: 5px 15px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	margin-bottom: 0;

}

.booking-status h3 {
	margin-bottom: 20px;
}

.booking-status h4 {
	margin-bottom: 15px;
}

.booking-status__flight {
	margin-bottom: 25px;
}

.booking-status__right .h2 {
	background-color: #34346b;
}

.booking-status__box {
    border: 1px solid #ccc;
    border-top: none; 
    padding: 15px;
    min-height: 216px;
	background: #fff;
}

.booking-status__box p:last-child {
	margin-bottom: 0;
}

.booking-status__box--code {
	background-color: #34346b;
	padding: 3px 5px;
	border-radius: 5px;
	color: #fff;
}

.booking-status__left .booking-status__box {
	padding-top: 28px;
}

.booking_flight_details {
	padding: 0 15px;
}

.booking_flight_details > .row {
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
} 

.booking_flight_details > .row:last-child {
	border-bottom: none;
	padding-bottom: 0; 
}

.booking_flight_details > .row strong { 
	font-size: 13px;
}

.booking-status .white-bg {
	border: 1px solid #ccc;
	border-radius: 0;
	margin-bottom: 30px;
}

.booking-status .white-bg .row {
	padding: 5px 0;
}

.booking-status__table {
	margin-bottom: 25px;
	padding: 15px;
}

.booking-status__table table {
	margin-bottom: 0;
}

.booking-status__table table th {
	background-color: #f7f7f7;
}

@media (max-width: 767px) {
	.booking-status__left {
		margin-bottom: 25px;
	}
}