.flight-lists {
    padding-bottom: 90px;
}

.w-flight-listing-roundtrip .sort-by p {
    margin-bottom: 0;
}

.sort-by__detail {
    font-size: 12px;
}

.sort-by__heading {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.w-flight-listing-roundtrip.w-flight-listing ul {
    justify-content: space-between;
    margin: 5px 0 0;
    padding: 0;
}

.w-flight-listing-roundtrip .sort-by .dropdown-menu li {
    display: block;
    width: 100%;
} 

.w-flight-listing-roundtrip .sort-by button {
    padding: 5px 7px;
    font-size: 12px;
    text-transform: capitalize;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.w-flight-listing-roundtrip .sort-by {
    margin-bottom: 10px;
}

.w-flight-listing-roundtrip .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
    transition: .2s; 
}

.w-flight-listing-roundtrip .dropdown-menu > li > a:hover{
    padding-left: 25px;
}

.w-flight-listing-roundtrip.w-flight-listing ul li {
    width: auto;
}

.w-flight-listing-roundtrip .air-flight-departure {
    margin-right: 15px;
}

.w-flight-listing-roundtrip .air-flight-departure span {
    white-space: nowrap;
}

.w-flight-listing-roundtrip .air-flight-duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.w-flight-listing-roundtrip .air-flight-departure .air-flight-departure__heading,
.w-flight-listing-roundtrip .air-flight-price > span,
.w-flight-listing-roundtrip .air-flight-arrival > span {
    font-size: 14px;
    font-weight: 600;
    color: #000
}

.w-flight-listing-roundtrip .air-flight-departure .air-flight-departure__location,
.w-flight-listing-roundtrip .air-flight-arrival .air-flight-arrival__location {
    color: #848484;
}

.w-flight-listing-roundtrip .w-flight-list .w-flight-list__air-details > span {
    padding: 0 7px;
    display: inline-block;
    border-right: 1px solid #848484;
}

.w-flight-listing-roundtrip .w-flight-list .w-flight-list__air-details > span:last-child {
    border-right: none;
}

.w-flight-listing-roundtrip .air-flight-duration .air-flight-duration__divider {
    margin: 3px 0 3px;
}

.splitted-flight-fare-wrap {
    position: fixed;
    bottom: 5px;
    width: 848px;
    border-radius: 5px;
    z-index: 999;
    padding: 0;
    background: #3b3469;
    box-shadow: 0 0 5px #ccc;
}

.splitted-flight-fare {
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
}

.splitted-flight-fare .air-flight__img {
    margin-right: 8px;
}

.splitted-flight-fare > div:first-child {
    padding-right: 0;
}

.pl-none {
    padding-left: 0;
}

.splitVw-footer-left {
    border-right: 1px solid #696296;
}

.splitVw-footer-left__departure {
    display: flex;
    align-items: center;
    line-height: normal;
    font-size: 12px;
}

.splitted-flight-fare-wrap .airline-details-wrapper .airline-details-wrapper__left,
.splitted-flight-fare-wrap .airline-details-wrapper .airline-details-wrapper__right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
}

.splitted-flight-fare-wrap .airline-details-wrapper .baggage-info {
    margin-left: -10px;
}

.splitted-flight-fare-wrap .fli-list-fare_details__left {
    width: 100%;
}

.color-light-grey {
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #998ee0;
}

.splitVw-footer-left__departure .seperator {
    margin: 0 5px;
}

.color-light {
    color: #998ee0;
}

.splitVw-footer-left .air-flight {
    padding: 5px 0 0;
    display: flex;
    align-items: center;
}

.air-flight-departure__dertails {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.air-flight-departure__dertails span {
    color: #fff;
    margin-right: 6px;
    font-size: 15px;
    font-weight: 500;
}

.air-flight-departure__dertails span:last-child {
    font-weight: 600;
    margin-right: 0;
}

.air-flight-departure__dertails span.actual-price {
    margin: 3px 0 0px;
}

.splitVw-footer-left .air-flight-departure a {
    color: #fd9993;
    font-size: 11px;
    line-height: normal;
    display: none;
}

.splitted-flight-fare__fare {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.splitted-flight-fare__fare-price > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.splitted-flight-fare__fare-price {
    font-size: 25px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.splitted-flight-fare__fare-price a {
    font-size: 11px;
    color: #fd9993;
}

.splitted-flight-fare__fare span.booknow-arrow {
    margin-left: 12px;
    width: 18px;
    line-height: normal;
}

.splitted-flight-fare__fare .btn {
    padding: 5px 10px 3px;
    text-transform: uppercase;
    white-space: nowrap;
}

.splitted-flight-fare-wrap .flight-details__wrapper {
    background: #fff;
    height: 400px;
    overflow-y: auto;
    padding: 10px 0;
    margin-top: 10px;
}

.flight-details__wrapper-col1-sec {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.hideContent {
    display: none
}
.showContent {
    display: block
}

.splitted-flight-fare-wrap .airline-time-options {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    /*padding: 0 15px;*/
}

.splitted-flight-fare-wrap .flight-details__wrapper .tab-content {
    padding: 0 15px;
}

.splitted-flight-fare-wrap .flight-details__wrapper-list {
    padding: 0 15px;
}

.splitted-flight-fare-wrap .flight-details__wrapper-list .list-item a {
    color: #d93d39;
}

.fli-list-fare_details__left .grey_btm_border {
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    margin-bottom: 12px;
}

.fli-list-fare_details__left p {
    font-size: 14px;
    margin-bottom: 5px;
}

.fli-list-fare_details__left .fareBreakup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.splitted-flight-fare-wrap .fare-row {
    display: flex;
    align-items: center;
}

.flight-lists__sort-left .dropdown-toggle,
.flight-lists__sort-right .dropdown-toggle {
    padding: 0;
    margin: 18px 0 10px;
}

.flight-lists__sort-left .dropdown-menu a,
.flight-lists__sort-right .dropdown-menu a {
    padding: 0px 10px;
    display: block;
}

.flight-lists__sort-left .sort-by .dropdown button,
.flight-lists__sort-right .sort-by .dropdown button {
    margin: 0;
}

.w-flight-listing-roundtrip .air-flight .air-flight__img {
    margin-right: 8px;
}

.w-flight-listing-roundtrip .air-flight-duration span {
    font-size: 11px;
}

.w-flight-listing-roundtrip .air-flight-duration a {
    font-size: 10px;
}

.w-flight-listing-roundtrip .air-flight-duration__divider {
    width: 80px;
}

.w-flight-listing-roundtrip .air-flight-arrival {
    text-align: center;
}

.w-flight-listing-roundtrip__left ul.wd-flex-center li:last-child,
.w-flight-listing-roundtrip__right ul.wd-flex-center li:last-child {
    margin-bottom: auto;
    margin-top: 4px;
}

.w-flight-listing-roundtrip__right .w-flight-list.selected,
.w-flight-listing-roundtrip__left .w-flight-list.selected {
    background: rgba(249,219,212,.24);
    border-color: #fbc9c9;
}

.fare-rules-section {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 12px;
}

@media (min-width: 990px) {
    .w-flight-listing-roundtrip .air-flight.wd-flex-center {
        flex-direction: row;
        width: 100%;
    }
    .w-flight-listing-roundtrip .air-flight-duration {
        margin-left: -10px;
    }
    .flight-lists__sort-left .sort-by .dropdown,
    .flight-lists__sort-right .sort-by .dropdown {
        text-align: right;
    }
}

@media (max-width: 990px) {
    .w-flight-listing-roundtrip > .row {
        justify-content: space-between;
    }
    .w-flight-listing-roundtrip .air-flight.wd-flex-center {
        text-align: left;
        width: 75px;
        overflow: hidden;
        top: 0;
    }
    .w-flight-listing-roundtrip .air-flight-departure {
        width: 75px;
        overflow: hidden;
    }
    .w-flight-listing-roundtrip .w-flight-listing-roundtrip__left,
    .w-flight-listing-roundtrip .w-flight-listing-roundtrip__right {
        max-width: 50%;
    }
    .w-flight-listing-roundtrip .w-flight-listing-roundtrip__left{
        border-right: 1px solid #ccc;
    }
    .w-flight-listing-roundtrip .w-flight-list__air-details {
        font-size: 11px;
        display: flex;
    }
    .w-flight-listing-roundtrip .air-flight-duration {
        padding-right: 2px;
        margin-left: -4px;
    }
    .w-flight-listing-roundtrip .air-flight-duration > a {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 10px;
    }
    .w-flight-listing-roundtrip .air-flight-arrival {
        width: 70px;
        margin-top: 27px;
        margin-left: 5px;
    }
    .w-flight-listing-roundtrip .air-flight-arrival .air-flight-arrival__location {
        text-align: right;
    }
    .w-flight-listing-roundtrip .air-flight-arrival__location {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .w-flight-listing-roundtrip .w-flight-list .w-flight-list__air-details > span {
        padding: 0 3px;
        white-space: nowrap;
    }
    .w-flight-listing-roundtrip .w-flight-list .w-flight-list__air-details > span:nth-child(3n) {
        display: none;
    }
    .w-flight-listing-roundtrip .w-flight-list .w-flight-list__air-details > span:nth-child(2n) {
        border-right: none; 
    }
    .w-flight-listing-roundtrip__right ul.wd-flex-center li:last-child,
    .w-flight-listing-roundtrip__left ul.wd-flex-center li:last-child {
        position: absolute;
        right: 10px;
        top: 30px;
    }
    .w-flight-listing-roundtrip .air-flight-price > span {
        color: #3b3469;
        font-size: 15px;
    }
    .w-flight-listing-roundtrip .air-flight-arrival > span,
    .w-flight-listing-roundtrip .air-flight-departure .air-flight-departure__heading {
        font-size: 14px;
        white-space: nowrap;
        margin-right: -3px;
    }
    .w-flight-listing-roundtrip .air-flight-departure .air-flight-departure__location {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .flight-lists .w-flight-listing-roundtrip .w-flight-list {
        padding: 10px 10px 20px;
    }
    .splitted-flight-fare-wrap {
        left: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        bottom: 50px;
    }

    .splitted-flight-fare__fare span.booknow-arrow {
        display: none;
    }

    .splitted-flight-fare__fare-price {
        margin-right: auto;
    }

    .splitted-flight-fare > div:first-child {
        display: none;
    }

    .row.sort-by {
        margin-top: 10px;
    }
    .flight-lists__sort-left,
    .flight-lists__sort-right {
        max-width: 50%;
        background: #f7f7f7;
    }
    .flight-lists__sort-left {
        border-right: 1px solid #ccc;
    }
    p.sort-by__detail {
        margin-bottom: 0;
    }
    .w-flight-listing-roundtrip .air-flight .air-flight__img {
        min-height: 30px;
    }
    .w-flight-listing-roundtrip .air-flight .air-flight__img img {
        flex-shrink: 0;
    }
}