@media (min-width: 990px) {
    /*.w-flight-listing.roundtrip-group-flight ul li {
        width: 25%; 
    }*/
}

.roundtrip-group-flight .roundtrip-return-flight {
    margin-bottom: 0;
    margin-top: 15px;
    position: relative;
}

.roundtrip-group-flight .air-flight__details span:first-child {
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.roundtrip-group-flight .roundtrip-return-flight:before {
    position: absolute;
    content: "";
    border-top: 1px dashed #e6e6e6;
    width: 354px;
    top: -20px;
    left: 182px;
    right: 70px;
    font-weight: 400;
}

.roundtrip-group-flight .flight-details__wrapper .tab-content {
    margin-top: 15px;
}

.roundtrip-group-flight .flight-details {
    margin-top: 20px;
}

.roundtrip-group-flight .air-flight-price .btn {
    padding: 4px 10px;
    font-size: 14px;
}

@media (max-width: 990px) {
    .roundtrip-group-flight .air-flight-price .btn {
        padding: 0;
        font-size: 12px;
    }
}

.multiple-carrier {
    color: #d93d39;
    display: block;
    margin-top: 8px;
    font-size: 10px;
}

.flight-preferences > a {
    margin-bottom: 3px;
    color: #d93d39;
    display: inline-block;
}

.flight-preferences > a i {
    margin-right: 5px;
}

.air-flight__img-wrap img:first-child {
    margin-right: 8px;
}

.airline-fare-rules__btn {
    display: block;
    margin-bottom: 15px;
}

.airline-fare-rules__btn .btn {
    margin-right: 15px;
    background: none;
    color: #d93d39;
    border: none;
    border-bottom: 2px solid #fff;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

.airline-fare-rules__btn .btn.active {
    background: none !important;
    border-bottom-color: #d93d39;
    color: #d93d39 !important;
}

.airline-fare-rules__btn .btn:hover,
.airline-fare-rules__btn .btn:focus,
.airline-fare-rules__btn .btn:active {
    background: none !important;
    color: #d93d39 !important;
}

@media (max-width: 990px) {
    .roundtrip-group-flight .roundtrip-return-flight:before {
        width: 100%;
        left: 0;
        right: 0;
        top: -10px;
    }
}