.page-not-found {
    border-radius: 5px;
    border: 1px solid #d93d39;
    padding: 20px;
    text-align: center;
	max-width: 600px;
	margin: 0 auto;
	height: 275px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
}

.page-not-found h1 {
	margin-bottom: 30px;
}

.page-not-found__title {
    font-size: 75px;
    line-height: normal;
	color: #d93d39
}