.header {
    padding: 0 ;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
}

.header-scroll-up .header {
    position: absolute;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner .main-nav {
    margin-left: 35px;
    visibility: hidden;
}

.header__inner .main-nav li {
    text-align: center;
}

.header__inner .main-nav li a { 
    display: inline-block;
    padding: 10px 15px;
}

.header__inner .main-nav span {
    display: block;
}

.header__inner .main-nav li img {
    width: 20px;
}

.nav-tabs {
    border-bottom: none
}

ul.my-account {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

@media(min-width: 990px) {
    /*.my-account > li:hover ul {
        display: block;
    }*/
    ul.my-account li {
        margin-left: 15px;
    }
    ul.my-account li:first-child {
        margin-left: 0;
    }
}

.my-account .dropdown .dropdown-menu {
    width: 19rem;
    padding-bottom: 5px;
}

.my-account .dropdown .dropdown-menu li a:hover {
    color: #d93d39;
}

.my-account .dropdown img {
    margin-right: 5px;
    border-radius: 50%; 
}

.my-account .dropdown ul li a {
    position: relative;
    padding-left: 25px;
    transition: .3s;
    left: 0;
    white-space: normal;
    line-height: 21px;
}

.my-account .dropdown ul li a:hover {
    left: 5px;
    background: none;
}

.my-account .dropdown ul li a:before {
    content: '';
    position: absolute;
    left: 12px;
    top: 8px;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #999;
}

.my-account .dropdown ul li a:hover:before {
    border-left-color: #d93d39;
}

a.no-arrow {
    padding-bottom: 8px;
}

a.no-arrow:before {
    display: none;
}

.switch-section {
    box-shadow: 0 0 2px #ccc;
    padding: 8px 0 5px;
}

.switch-section span {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 25px;
    color: #999;
}

.temp-hide {
    display: none;
}

@media (max-width: 990px) {
    .header {
        z-index: 999;
    }
    .header__inner {
        flex-direction: column;
        margin: 8px 0 5px;
    }
    .header__inner .logo {
        margin-bottom: 8px;
    }
    ul.my-account {
        position: fixed;
        bottom: 0;
        padding: 10px;
        background: #fff;
        border-top: 1px solid #ccc;
        left: 0;
        right: 0;
        text-align: center;
        display: inline-block;
    }
    .header__inner .main-nav li a {
        padding: 0 15px;
    }
}