.bg-light {
	background: #f7f7f7;
	padding: 15px;
}

.border-top {
	border-top: 1px solid #ccc;
	margin: 5px 0 10px;
}

.flight-payment h2 {
	margin-bottom: 0;
}

.flight-payment__header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.flight-payment__header img {
	margin-right: 10px;
}

.flight-payment .input-group-text {
	font-size: 1.4rem;
}

.flight-payment .input-group-text img {
	margin-right: 5px;
}

.flight-payment .form-control {
	height: 35px;
}

ul.flight-payment__list li {
	border:1px solid #e8e6e6;
	margin-bottom: 15px;
}

ul.flight-payment__list li:last-child {
	margin-bottom: 0;
}

.flight-payment__list label {
	margin-bottom: 0;
}

.flight-payment__list h4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #34346b;
	padding: 15px;
	margin-bottom: 20px;
	color: #fff;
}

.flight-payment__list input {
	margin: 0;
	margin-right: 5px;
}

.row-wrapper {
	margin-bottom: 20px;
}

.row-wrapper .bg-light .row:not(:last-child) {
	margin-bottom: 10px;
}

.term-of-use input {
	margin-right: 5px;
}

.error input[type=checkbox] {
	outline: 2px solid #c00;
	color:#c00;
}