.review-booking .change-flight {
    padding: 0 6px;
    border-radius: 15px;
    font-size: 12px;
}

.review-booking__heading {
    margin-bottom: 5px;
}

.review-booking-section {
    margin-top: 20px;
    float: left;
    width: 100%;
}

@media (min-width: 1025px) {
    .review-booking-section .review-right .review-right__inner {
        position: sticky;
        top: 75px;
    }
}

@media (max-width: 767px) {
    .review-booking-section {
        padding-bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .review-booking-section .review-booking {
        order: 2;
        padding-bottom: 55px;
    }
    .review-booking-section .review-right {
        order: 1;
        position: sticky;
        top: 46px;
        background: #fff;
        padding-top: 15px;
        z-index: 999;
    }
}
 
@media (min-width: 992px) and (max-width: 1024px) {
    .review-booking-section .review-right .review-right__inner {
        position: sticky;
        top: 60px;
        padding-top: 15px;
    }
}

.review-accordion, .review-coupon-code {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 15px;
}

.review-accordion {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
}

.review-coupon-code {
    padding: 0;
}

.review-accordion.panel-group .panel {
    border-bottom: 1px solid #ccc;
    padding: 0;
    border-radius: 0;
}

.review-accordion .panel-default > .panel-heading {
    background: none;
    padding: 0;
}

.review-accordion .panel-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.review-accordion .panel-title a {
    display: block;
    padding: 15px;
    color: #333;
}

.review-fare-total {
    display: block;
    padding: 15px;
}

.acc-basic-fare {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5d5d5d;
}

.review-accordion .acc-basic-fare {
    padding: 0 15px 10px;
}

.proceed-payment,
.complete-booking-wrap {
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 768px) {
   .proceed-payment button,
   .complete-booking-wrap button {
       height: 45px;
        min-width: 220px;
        font-size: 16px;
        line-height: 44px;
        padding: 0;
   } 
}

@media (max-width: 767px) {
    .proceed-payment {
        position: fixed;
        right: 0;
        bottom: 30px;
        z-index: 998;
        width: 50%;
    }
    .proceed-payment button {
        width: 100%;
        display: block;
        padding: 10px;
        border-radius: 0;
        font-size: 16px;
        font-weight: 600;
        height: 46px;
    }
}

.review-canlcellation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background: #fff;
    padding: 8px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.review-canlcellation a {
    text-align: right;
}

.review-coupon-code .review-coupon-code__heading {
    padding: 12px 15px 10px;
    border-radius: 8px 8px 0 0;
    background: #2f356e;
    color: #fff;
    text-transform: uppercase;
}

.review-coupon-code__input {
    padding: 15px;
}

.review-depart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    margin: 0 -8px 15px;
    padding: 0 8px 10px;
}

.review-depart-info__left {
    display: flex;
    align-items: center;
}

.review-depart-info__title {
    position: relative;
    background: #2f356e;
    padding: 7px 12px 3px;
    margin-left: -8px;
    margin-right: 12px;
    color: #fff;
    text-align: center;
}

.review-depart-info__details {
    font-size: 16px;
    font-weight: 600;
}

.review-depart-info__details span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.review-depart-info__right button {
    background: #d42a1c;
    border: none;
    display: inline-block;
    color: #fff;
    border-radius: 12px;
    font-size: 12px;
    line-height: normal;
    padding: 2px 10px 2px;
}

.review-depart-info__right .fare-text {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 2px;
}

.review-flight-departure p {
    margin-bottom: 0;
    color: #414141;
    font-size: 14px;
    line-height: normal;
}

.review-booking .baggage-info {
    margin-top: 20px;
    border-top: 1px solid #e4e3e3;
    padding-top: 20px;
}

.review-booking .w-flight-list > .baggage-info {
    display: none;
}

.review-booking .w-flight-list > ul {
    align-items: start;
}

.review-booking input[type=checkbox].error {
    outline: 1px solid #c00;
}

.extra-baggage-section {
    border-radius: 5px;
    border: 1px solid #efeded;
    padding: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.extra-baggage-section:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ccc;
    top: -5px;
    left: 126px;
}

.extra-baggage-section .extra-baggage-section__bag {
    margin-bottom: 5px;
}

.extra-baggage-section .extra-baggage-section__bag span {
    color: #fff;
    background: #2f356e;
    padding: 3px 6px 2px;
    border-radius: 3px;
    margin-right: 8px;
}

.extra-baggage-section p {
    margin-bottom: 0;
    color: #414141;
    font-size: 13px;
    line-height: normal;
}

.extra-baggage-section__right button {
    padding: 4px 15px;
    min-width: 70px;
    text-align: center;
}

.review-add-on {
    margin-top: 25px;
}

.review-add-on h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.white-bg {
    font-size: 14px;
    background: #fff;
    padding: 8px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 15px;
}

.review-add-on__heading {
    margin-bottom: 15px;
}

.review-add-on__heading h4 {
    margin-bottom: 0;
    color: #d93d39;
}

.review-add-on__heading span {
    font-size: 13px;
}

.benefits-list {
    display: flex;
}

.benefits-item {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    height: 100%;
}

.benefit-type {
    border-bottom: 2px solid #d8eaff;
    padding: 10px;
}

.review-add-on__cover-heading {
    font-weight: 600;
    margin-top: 15px;
}

.review-add-on__cover--trip {
    padding: 15px 0;
}

.review-add-on__cover--trip > .row {
    position: relative;
}

span.review-add-on__cover--trip-label {
    color: #929191;
    display: block;
    margin-top: 10px;
}

.flight-status {
    position: absolute;
    top: -1px;
    right: 60px;
    z-index: 9;
}

.terms-conditions {
    font-size: 13px;
    margin: 15px 0 10px;
}

.review-add-on__travel-more {
    position: absolute;
    right: 0;
    width: 25px;
    background: #ececec;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-traveller-detail > .d-flex {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .w-traveller-detail > .d-flex {
        flex-direction: column;
        align-items: flex-start !important;
    }
}

.w-traveller-detail > .d-flex h3 {
    margin-bottom: 0;
}

.w-traveller-detail > .d-flex > a {
    margin-right: 5px;
}

.w-traveller-detail > .d-flex span.divider {
    display: inline-block;
    margin: 0 10px;
} 

.w-traveller-detail__right > p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.w-traveller-detail__right-input {
    margin-bottom: 10px;
}

.w-traveller-detail__right-input select,
.w-traveller-detail__right-input input {
    border-radius: 0;
}

@media (max-width: 767px) {
    .w-traveller-detail__right-input {
        margin-bottom: 0;
    }
    .w-traveller-detail__right-input .input-wrapper {
        margin-bottom: 10px; 
    }
 }

.traveller-info {
    margin-bottom: 15px;
}

.input-wrapper__select {
    display: flex;
    align-items: center;
}

.input-wrapper__select select {
    width: 72px;
    border-right: none;
}

.show {
    display: block!important;
}

.error {
    color: red
}

.review-login {
    margin-left: 15px;
}

.review-login a {
    display: inline-block;
    padding: 0 10px;
    line-height: normal;
    border-right: 1px solid #ccc;
}

.review-login a:last-child {
    border-right: none;
}

@media (max-width: 767px) {
    .review-login {
        margin-left: -10px;
    }
    .review-depart-info,
    .review-depart-info__left {
        flex-direction: column;
        align-items: flex-start;
    }
    .review-depart-info__title {
        margin: 0 0 5px;
    }
    .review-booking-section .review-fare-total {
        padding: 12px 15px 11px;
        position: fixed;
        bottom: 50px;
        background: #fff;
        width: 50%;
        left: 0;
        border-top: 1px solid #ccc;
        z-index: 998;
    }
    .flight-payment .btn.complete-booking {
        position: fixed;
        bottom: 51px;
        border-radius: 0;
        right: 0;
        width: 50%;
        height: 44px;
        line-height: normal;
        z-index: 998;
        font-size: 16px;
        font-weight: 600;
    }
}