.right-section {
    margin-top: 20px;
}

.right-section__wrapper {
    margin-bottom: 35px;
}

.right-section__wrapper h2 {
    margin-bottom: 1.2rem;
}

.right-section__wrapper-recent-search .slick-slider .slick-track {
    margin: 0;
}

.recent-search__item {
    transition: all .15s ease;
    position: relative;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #eae8e8;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 151px;
}

/*@media (min-width: 1025px) {
    .recent-search__item {
        width: 207px;
    }
}*/

.recent-search__item-cancel {
    position: absolute;
    right: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #dc3545;
    color: #fff;
    top: -12px;
    font-size: 10px;
    line-height: normal;
    border: none;
    display: none;
}

.recent-search__item:hover .recent-search__item-cancel {
    display: flex;
}

.recent-search__item-more {
    width: 30px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
    font-size: 18px;
    padding: 0;
}

.recent-search__item .btn {
    margin-top: auto;
}

.recent-search__img {
    position: absolute;
    top: -14px;
    left: 0px;
    background: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
}

.recent-search__img img {
    margin-left: -1px;
}

.InfiniteCarouselSlide .recent-search__img img {
    width: auto;
}

.recent-search__item .low-price {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.recent-search__item .original-date {
    margin-bottom: 15px;
}

.recent-search__item .low-price .rs span {
    font-size: 1.8rem;
    color: #f34f4f;
    width: auto;
    display: inline-block;
}

.recent-search__item .low-price > div {
    display : flex;
    align-items: center;
}

.recent-search__item .low-price > div .recent-search__item-more {
    margin-left: auto;
}

.wadiia-special__title {
    position: absolute;
    top: -5px;
    left: 45px;
    color: #101010;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: calc(88% - 20px);
}

.text-ellipses {
    white-space: nowrap;
    width: calc(100% - 10px );
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 990px) and (max-width: 1024px) {
    .text-ellipses {
        width: calc(140px - 10px );
    }
}

.wadiia-special__img img {
    max-width: 100%;
}

.wadiia-special__air {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    background: #fff;
    left: 0px;
}

.wadiia-special__air img  {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ccc;
}

.w-top-destination__inner {
    padding: 15px 15px 10px;
    background: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    border-radius: 5px;
}

.w-top-destination__inner ul {
    margin-bottom: 0;
}

.w-top-destination__inner ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}

.w-top-destination__inner ul li a {
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-weight: 300;
}

.w-popular-destinatios__list {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.w-popular-destinatios__list span {
    font-weight: 500;
    margin-right: 10px;
}

.w-popular-destinatios__list ul {
    display: flex;
    align-items: center;
}

.w-popular-destinatios__list ul li {
    margin-right: 14px;
}

.w-popular-destinatios__list ul li a {
    color: #8e8e8e;
    text-transform: uppercase;
}

.w-popular-destinatios__list ul li a:hover,
.w-popular-destinatios__list ul li a.active {
    color: #1b8bc1;
    border-bottom: 3px solid #1b8bc1;
    padding-bottom: 2px;
}

.w-popular-destinatios__item {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    border-radius: 6px;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #eae8e8;
    cursor: pointer;
    transition: all .5s ease;
}

.origin-destination {
    width: 100%;
    display: block;
    flex-wrap: nowrap;
    padding-left: 12px;
    border-left: 2px solid #dbe3ef;
    position: relative;
}

.origin-destination:before,
.origin-destination:after {
    content: " ";
    position: absolute;
    background-color: #dbe3ef;
    padding: 3px;
    border-radius: 50%;
    top: 0;
    left: -4px;
}

.origin-destination:after {
    top: inherit;
    bottom: 0;
}

.origin-destination .time {
    margin: -7px 0 20px;
    font-weight: 400;
    width: 100%;
    color: #7f7f7f;
    white-space: nowrap;
}

.origin-destination .elip {
    display: inline-block;
    width: 100%;
    color: #333;
    font-weight: 500;
}

.w-popular-destinatios__item .low-price {
    margin-top: 20px;
}

.w-topflight-destination ul {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.w-topflight-destination ul li {
    border: 1px solid #e4e4e4;
    border-bottom: 0 none;
    display: block;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.w-topflight-destination ul li:first-child {
    border-radius: 5px 5px 0 0;
}

.w-topflight-destination ul li:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #e4e4e4;
}

.w-topflight-destination__list {
    display: flex;
    align-items: center;
}

.w-topflight-destination__list .img-sec {
    text-align: center;
    margin-left: 12px;
    margin-right: 15px;
}

.w-topflight-destination li .destination_information {
    display: inline-block;
    position: relative;
    line-height: 24px;
    padding: 10px 20px 10px 0;
}

.w-topflight-destination__list span {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    color: #9b9b9b;
}

.w-topflight-destination__list .img-sec > span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
    background: #ececec;
}

.w-topflight-destination__list-right {
    width: 68%;
}

.w-topflight-destination .destination_name {
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
}

.w-topflight-destination__list .low_price {
    font-size: 18px;
    color: #f34f4f;
    text-align: left;
    display: block;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
}

.why-wadiia {
    border: 1px solid hsla(0,0%,89%,.3);
    display: block;
    padding: 20px 15px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.why-wadiia h2 {
    color: #d93d39;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: normal;
    margin-bottom: 0;
}

.reasons {
    font-size: 14px;
    margin-bottom: 10px;
}

.why-wadiia h3 {
    font-size: 19px;
    margin-bottom: 20px;
}

/*#infinite-carousel .InfiniteCarouselArrow {
    top: -20px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    line-height: normal;
    padding: 3px 8px;
}

#infinite-carousel .InfiniteCarouselArrowPrev {
    left: inherit;
    right: 40px;
}

#infinite-carousel .InfiniteCarouselArrowNext {
    right: 5px;
}

#infinite-carousel .InfiniteCarouselArrowIcon {
    border-color: #fff;
    margin-top: 3px;
    border-width: 0 2px 2px 0px;
    padding: 4px;
}

#infinite-carousel .InfiniteCarouselArrowPrevIcon {
    margin-left: 3px;
}

#infinite-carousel .InfiniteCarouselArrowNextIcon {
    margin-right: 3px;
}

#infinite-carousel .InfiniteCarouselFrame {
    padding-top: 14px;
}*/
.slick-slider {
    width: 100%;
}
.slick-slider .slick-list {
    display: flex;
    padding-top: 14px;
}

.slick-slider .slick-arrow {
    position: absolute;
    top: -15px;
    right: 0;
}

.slick-slider .slick-prev:before, 
.slick-slider .slick-next:before {
    font-size: 25px;
    color: #483030;
}

.slick-slider .slick-prev {
    left: inherit;
    right: 26px;
}

.slick-slider .slick-track {
    display: flex;
    margin-left: 0;
}

.slick-slider .slick-slide {
    margin-right: 15px;
}

@media (max-width: 767px) {
    .slick-slider .slick-slide {
        margin-right: 0;
    }
} 

.slick-slider .slick-slide > div,
.slick-slider .slick-slide > div .recent-search {
    height: 100%;
}

.slick-slider .slick-slide:last-child {
    margin-right: 3px;
}

.recent-search__item .low-price .rs {
    margin-right: 5px;
}

.recent-search__item .low-price__amount {
    display: flex;
    align-items: center;
}

.wadiia-special-slider.row {
    margin: 0;
}

.bg-wadiia-special-wrap {
    position: relative;
}

.bg-wadiia-special {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a2c8e5+1,bad1e2+100 */
    background: #f5ffef; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5ffef 1%, #fafff8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5ffef 1%,#fafff8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5ffef 1%,#fafff8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ffef', endColorstr='#fafff8',GradientType=0 ); /* IE6-9 */
    /*width: 200px;*/
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 1.8rem;
    cursor: pointer;
} 

.slick-slide:nth-child(odd) .bg-wadiia-special-wrap .bg-wadiia-special {
    background: #fff3fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff3fc 1%, #FFF7FD 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fff3fc 1%,#FFF7FD 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fff3fc 1%,#FFF7FD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3fc', endColorstr='#FFF7FD',GradientType=0 ); /* IE6-9 */
}

a.wadiia-special__img {
    min-height: 32px;
    display: flex;
    align-items: center;
}

.bg-wadiia-special__save {
    margin: 10px 0;
}

.bg-wadiia-special__code .code-label {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.bg-wadiia-special__code .code {
    background: #f9e3e8;
    display: inline-block;
    color: #ca393a;
    border: 1px dashed #ca393a;
    line-height: normal;
    padding: 3px 10px 2px;
    border-radius: 3px;
    font-weight: 600;
}

.modal-open {
    /*margin-left: -17px;*/
    overflow: visible !important;
    padding-right: 0 !important;
}

.modal-special-offer {
    text-align: center;
    margin: 10px 0 15px;
}

.modal-special-offer__code {
    text-align: center;
    padding: 10px 35px;
    color: #ca393a;
    border: 1px dashed #ca393a;
    font-weight: 600;
    display: inline-block;
    border-radius: 8px;
    margin-right: 10px;
}

.modal-special-offer .fa-copy {
    font-size: 16px;
}

.fa-copy.disabled {
    opacity: .4;
    background: none;
    color: inherit;
}

.wadiia-special-slider .slick-initialized .slick-slide {
    position: relative;
}

.wadiia-special-slider .bg-wadiia-special-wrap{
    position: inherit
}

@media (max-width: 767px) {
    .wadiia-special-slider .slick-slide {
        margin-right: 15px !important;
    }
}

@media (max-width: 990px) {
    .right-section__wrapper {
        margin-bottom: 20px;
    }
    .wadiia-special .row {
        /*overflow-x: auto;*/
        padding: 7px 10px;
        flex-wrap: nowrap;
        padding-top: 25px;
        margin-top: -25px;
    }
    .right-section__wrapper img.img-fluid {
        max-width: initial;
    }
    .right-section__wrapper .recent-search {
        margin-bottom: 20px;
    }
    .w-popular-destinatios__item,
    .w-top-destination__inner {
        margin-bottom: 20px;
    }
}

@media (min-width: 990px) and (max-width: 1160px) {
    .right-section-container {
        max-width: 490px;
        flex: 0 0 490px;
    }
    .left-section-container {
        max-width: 470px;
        flex: 0 0 470px;
    }
    .w-popular-destinatios__popular .slick-initialized .slick-slide {
        width: 145px !important;
    }
}
