

@media (max-width: 1024px) {
    .header-listing-page {
        display: flex;
        align-items: center;
        background: #fff;
        padding: 10px 15px;
        margin: 0 -15px 10px;
    }
    .header-listing-page__back {
        margin-right: 12px;
    }
    .header-listing-page__details--left {
        display: flex;
        font-weight: 700;
        font-size: 2rem;
    }
    .header-listing-page__details--left span {
        display: inline-block;
        margin: 0 6px;
    }
    .header-listing-page__details--details {
        font-size: 1.4rem;
        color: #868686;
    }
    .header-listing-page__filter {
        margin-left: auto;
    }
    .header-listing-page__filter button,
    .header-listing-page__back button {
        background: none;
        border: none;
    }
}

@media (max-width: 992px) {
    .flight-short-dtails {
        position: sticky;
        top: 0;
        z-index: 999;
    }
}

.arrow {
    border: solid #464545;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.disabled {
    pointer-events: none!important;
    color: rgb(160, 33, 33);
}