.left-panel {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #dedede;
}

.left-panel .main-nav {
    margin: 7px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.left-panel .main-nav li {
    text-align: center;
}

.left-panel .main-nav a {
    padding: 8px 15px;
    color: #888888;
}

.left-panel .main-nav li.active a {
    color: #d93d39;
    border-bottom: 2px solid #e4e4e4;
}

.left-panel .main-nav a,
.left-panel .main-nav a span {
    display: block;
}

.left-panel .left-panel__booking-option {
    padding: 20px;
}

.left-panel__booking-option .w-tabs {
    border-bottom: none;
    display: flex;
    margin: -20px -20px 0;
}

.left-panel__booking-option .w-tabs li {
    width: 50%;
}

.left-panel__booking-option .w-tabs a {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #f7f7f7;
    /*border: 1px solid #dad9d9;*/
    border-bottom: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    color: #262626;
}

.left-panel__booking-option .w-tabs a:first-child {
    border-radius: 4px 0 0 0;
}

.left-panel__booking-option .w-tabs li:last-child a{
    border-radius: 0 4px 0 0;
}

.left-panel__booking-option .w-tabs li a:hover {
    border-color: #d93d39;
    color: #d93d39;
}

.left-panel__booking-option .w-tabs li.active a{
    font-weight: 500;
    color: #d93d39;
    border-color: transparent;
    background-color: transparent;
}

.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    top: 4px;
}

.input-field label,
.select-box-wrapper label {
    color: #101010;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}

.input-field input[type="text"],
.input-field .ant-picker-input > input {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: none;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0 ;
    border-radius: 0;
    color: #101010;
    height: 72px;
    width: 100%;
    outline: none;
}

.input-field input[type="text"]::-webkit-input-placeholder,
.input-field .ant-picker-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #101010;
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Tajawal', Arial, sans-serif;
}
.input-field .ant-picker-input input::-moz-placeholder { /* Firefox 19+ */
  color: #6c757d;
  font-family: inherit;
  font-weight: 700;
}
.input-field .ant-picker-input input:-ms-input-placeholder { /* IE 10+ */
  color: #6c757d;
  font-family: inherit;
  font-weight: 700;
}
.input-field .ant-picker-input input:-moz-placeholder { /* Firefox 18- */
  color: #6c757d;
  font-family: inherit;
  font-weight: 700;
}

.input-field .ant-picker {
    padding: 0;
    width: 100%;
    border: none;
}

.input-field .ant-picker-suffix {
    display: none;
}

.citycode {
    position: absolute;
    bottom: 4px;
    font-size: 14px;
    font-weight: 300;
}

.tab-content {
    margin-top: 25px;
}

.city-going-to.active-custom-calendar input[type="text"] {
    transition: .3s;
}

.city-going-to.active-custom-calendar:hover input[type="text"] {
    padding-right: 18px;
}

.city-going-to__clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    opacity: 0;
    z-index: -999;
    transition: .2s;
    background: none;
    border: none;
    padding: 0;
}

.city-going-to.active-custom-calendar:hover .city-going-to__clear {
    z-index: 9;
    opacity: 1;
    right: 0;
}

.city-going-to label, 
.city-going-to .citycode {
    right: 0;
}

.city-going-to input[type="text"],
.city-going-to.input-field .ant-picker-input > input {
    text-align: right;
    position: relative;
    z-index: 9;
    background: none;
}

.return-label {
    position: absolute;
    bottom: 13px;
    line-height: 15px;
    right: 0;
    color: #2a92c5;
    text-align: right;
    font-size: 13px;
    width: 110px;
}

.hide-custom-calendar {
    position: sticky;
    display: block;
    padding: 5px 2px;
    background: #fff;
    top: 1px;
    z-index: 9;
}

.hide-custom-calendar button {
    background: none;
    border: none;
    outline: none;
    line-height: normal;
    margin-left: 6px;
}

.hide-custom-calendar button i {
    font-size: 18px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.custum-select {
    font-size: 18px;
    color: #101010;
    font-weight: 600;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 2px;
    cursor: pointer;
    margin-bottom: 15px;
}

.custum-select:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #101001;
    content: '';
    right: 15px;
    position: absolute;
    top: 36px;
}

.custom-count-sec {
    width: 100%;
}

.count-sec {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f7f7f7;
    width: 105px;
}

.count-sec > span {
    padding: 0;
    display: flex;
    width: 35px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.count-sec > span.count {
    background: #f3f3f3;
}

.count-sec > span button {
    background: #fff;
    border: none;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.ddSpinnerMinus button {
    border-radius: 5px 0 0 5px;
}

.ddSpinnerPlus button {
    border-radius: 0 5px 5px 0;
}

.count-sec > span button:disabled {
    color: #ccc;
}
 
.economy-wrapper {
    margin-top: 22px;
}

ul.location-result {
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

ul.location-result li {
    padding: 5px 10px;
    border-bottom: 1px solid #f7f7f7;
    cursor: pointer;
}

.spinner-border {
    position: absolute;
    z-index: 99;
    top: 46px;
    right: 0;
}

.city-going-to .spinner-border {
    left: 0;
    right: inherit;
}

.ant-picker-input:hover .ant-picker-clear {
    z-index: 9;
    top: 34px;
    right: 0;
}

.city-going-to .ant-picker-input input {
    padding-right: 16px;
}

.city-going-to .ant-picker-clear {
    opacity: 1;
    top: 34px;
}

.ant-picker-header {
    background: #34346b;
}

.ant-picker-dropdown .ant-picker-header,
.ant-picker-dropdown .ant-picker-prev-icon,
.ant-picker-dropdown .ant-picker-next-icon,
.ant-picker-dropdown .ant-picker-super-prev-icon,
.ant-picker-dropdown .ant-picker-super-next-icon {
    color: #fff;
}

.customClassDatePicker.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
    line-height: normal;
    display: flex;
    width: 100%;
    height: 62px;
    align-items: center;
    justify-content: center;
}

.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner > span span {
    display: block;
    font-size: 10px;
    color: #d12a1e;
}

.customClassDatePicker.ant-picker-dropdown .ant-picker-cell::before {
    height: 62px;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner {
    background-color: #d12a1e;
    color: #fff; 
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color:  #d12a1e ;
}

.ant-picker-cell-in-view.ant-picker-cell-selected 
.ant-picker-cell-inner, 
.ant-picker-cell-in-view.ant-picker-cell-range-start 
.ant-picker-cell-inner, 
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: #d12a1e !important;
}

.ant-picker-dropdown .ant-picker-decade-panel,
.ant-picker-dropdown .ant-picker-year-panel, 
.ant-picker-dropdown .ant-picker-quarter-panel, 
.ant-picker-dropdown .ant-picker-month-panel, 
.ant-picker-dropdown .ant-picker-week-panel, 
.ant-picker-dropdown .ant-picker-date-panel, 
.ant-picker-dropdown .ant-picker-time-panel {
    width: 300px;
}

.customClassDatePicker.ant-picker-dropdown .ant-picker-content th {
    height: 62px;
    line-height: 62px; 
}

@media (min-width: 767px) {
    .customClassDatePicker.ant-picker-dropdown {
        left: 106px !important;
        top: 91px !important;
        position: fixed !important;    
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        ::i-block-chrome,.customClassDatePicker.ant-picker-dropdown {
            left: 120px !important;
        }
    }
    .customClassDatePicker.ant-picker-dropdown .ant-picker-decade-panel,
    .customClassDatePicker.ant-picker-dropdown .ant-picker-year-panel, 
    .customClassDatePicker.ant-picker-dropdown .ant-picker-quarter-panel, 
    .customClassDatePicker.ant-picker-dropdown .ant-picker-month-panel, 
    .customClassDatePicker.ant-picker-dropdown .ant-picker-week-panel, 
    .customClassDatePicker.ant-picker-dropdown .ant-picker-date-panel, 
    .customClassDatePicker.ant-picker-dropdown .ant-picker-time-panel {
        width: 446px;
    }
}

@media (min-width: 1400px) {
    .customClassDatePicker.ant-picker-dropdown {
        left: 292px !important;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        ::i-block-chrome,.customClassDatePicker.ant-picker-dropdown {
            left: 225px !important;
        }
    }
}


.select-box-wrapper,
.select-flight-option {
    margin-bottom: 15px;
}

.search-flight {
    margin-top: 30px;
}

.search-flight .btn {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 1.8rem;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, 
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background: #484894 !important;
    color: #fff;
}

.ant-picker .ant-picker-input > input:hover,
.input-field input[type="text"]:hover {
    border-color: #d92a1a;
}

.economy__checkbox,
.flight-non-stop > label {
    display: flex;
    align-items: center;
    line-height: normal;
    margin-bottom: 6px;
}

.economy__checkbox input[type="radio"],
.flight-non-stop > label input[type="checkbox"] {
    margin-right: 5px;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content {
    width: 100%;
}

.customClassDatePicker.ant-picker-dropdown .ant-picker-cell {
    padding: 0;
}

@media (min-width: 990px) {
    .left-panel {
        position: fixed;
        width: 450px;
        bottom: 30px;
        top: 90px;
        overflow-y: auto;
    }
}

@media (min-width: 1190px) {
    .left-panel {
        width: 450px;
    }
}

@media (max-width: 990px) {
    .left-panel {
        margin-top: 15px;
    }
     .left-panel__booking-option .w-tabs a {
        padding: 6px 8px;
    }
    .count-sec {
        width: 75px;
    }
    .count-sec > span {
        width: 25px;
        height: 20px;
        align-items: initial;
    }
    .count-sec__label {
        line-height: 1;
        margin: 8px 0 0;
        min-height: 30px;
    }

    .count-sec > span button {
        line-height: 0;
        padding-bottom: 4px;
    }

    .count-sec__label > small {
        display: block;
        line-height: normal;
    }
    .customClassDatePicker.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner,
    .customClassDatePicker.ant-picker-dropdown .ant-picker-cell::before {
        height: 32px;
    }
}

.custom-datepicker {
    position: absolute;
    top: 0;
    bottom: -20px;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 99;
    padding-bottom: 20px;
}

.custom-datepicker .DayPicker {
    display: block;
}

.DayPicker-Day {
    padding: 1.5em;
}

.DayPicker-NavBar {
    position: absolute;
    right: 0;
    z-index: 1;
}

.custom-datepicker .DayPicker-Months {
    flex-direction: column;
    width: 100%;
    /*position: absolute;
    left: 0;
    right: 0;
    background: #fff;*/
}

.custom-datepicker .DayPicker-Caption > div {
    font-size: 1.6em;
    color: #34346b;
}

.custom-datepicker .DayPicker-Weekday {
    font-size: 1.4em;
}

.custom-datepicker .DayPicker-Day {
    border-radius: 0;
    height: 50px;
    width: 50px;
    font-size: 14px;
    position: relative;
}

.custom-datepicker .DayPicker-Day > div div:nth-child(2n) {
    font-size: 9px;
    color: #dc3545;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
}

.custom-datepicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.custom-datepicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background: #dc3545;
}

.custom-datepicker .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background: #ffe5e7;
}

    
@media (max-width: 990px) {
    .custom-datepicker {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 999;
        overflow-y: auto;
        top: 90px;
        bottom: 0;
        flex-wrap: unset;
    }
}


@media (max-width: 767px) {
    .wadiia-special-slider .slick-slide {
        width: calc(100% - 50px) !important;
    }

    .wadiia-special-slider .bg-wadiia-special {
        width: 100%;
    }
}