.no-result {
    border: 1px solid #f34e5e;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.no-result .logo {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
}

.no-result .logo:after {
    position: absolute;
    content: "";
    height: 80px;
    width: 2px;
    background: #dc3545;
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -10px;
}

.no-result h1.no-result__heading {
    font-size: 1.6rem;
    font-weight: 400;
}