.sign-wrapper {
  background: #fff; 
  margin: 30px auto 0;
  padding: 20px;
  max-width: 650px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: 1px solid #cbcbcb;
}

.signup-header {
  text-align: center;
  margin-bottom: 25px;
}

.signup-header h2 {
  margin-bottom: 5px;
}

.sign-wrapper__inp {
  margin-bottom: 25px;
}

.sign-wrapper__inp input,
.sign-wrapper__inp select {
  height: 40px;
  border: 1px solid #ececec;
    -moz-box-shadow: 0 2px 2px #cdcdcd;
    -webkit-box-shadow: 0 2px 2px #cdcdcd;
    box-shadow: 0 2px 2px #cdcdcd;
    border-radius: 3px;    
    padding: 5px;
    width: 100%;
    position: relative;
}

.sign-header {
  text-align: center;
  margin-bottom: 25px;
}

.sign-header h2,
.sign-header p {
  margin-bottom: 0;
}

.sign-continue {
  display: block;
  width: 100%;
}

.sign-privacy {
    font-size: 13px;
    margin: 15px 0 0;
}

.sign-with .btn {
  width: 100%;
  border: 1px solid #ccc;
}

.sign-with .btn:hover,
.sign-with .btn:focus {
    background: #d93d39;
    color: #fff;
    border-color: #d93d39;
}

.sign-with {
  margin-bottom: 15px;
}

.signup-otp .modal-header {
  padding-left: 2.5rem; 
}

.signup-otp__form {
  display: flex;
  align-items: center;
  margin:5px 0 10px;
  padding: 0 15px;
}

.signup-otp__form .form-control {
  height: 35px;
  line-height: 34px;
  border-radius: 0;
}

.signup-otp__form .btn {
  border-radius: 0;
}