.login-wrapper {
  background: #fff; 
  margin: 30px auto 0;
    padding: 20px;
    max-width: 350px;
    min-width: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: 1px solid #cbcbcb;
}

.login-wrapper__inp {
  margin-bottom: 25px;
}

.login-wrapper__inp input {
  height: 40px;
  border: 1px solid #ececec;
    -moz-box-shadow: 0 2px 2px #cdcdcd;
    -webkit-box-shadow: 0 2px 2px #cdcdcd;
    box-shadow: 0 2px 2px #cdcdcd;
    border-radius: 3px;
    /*text-transform: capitalize;*/
    padding: 5px;
    width: 100%;
    position: relative;
}

.login-header {
  text-align: center;
  margin-bottom: 25px;
}

.login-header h2,
.login-header p {
  margin-bottom: 0;
}

.login-continue {
  display: block;
  width: 100%;
}

.login-privacy {
    font-size: 13px;
    margin: 15px 0;
}

.login-with .btn {
  width: 100%;
  border: 1px solid #ccc;
}

.login-with .btn:hover,
.login-with .btn:focus {
    background: #d93d39;
    color: #fff;
    border-color: #d93d39;
}

.login-with {
  margin-bottom: 15px;
}