@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

html, 
body {
  font-size: 10px;
}

body {
  font-family: 'Rubik', Arial, sans-serif !important;
  color: #101010;
  background: #fdfbfb;
}

.h1 {
  color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-family: 'Rubik', Arial, sans-serif !important;
    font-size: 2.5rem;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-10 {
  font-size: 10px;
}

.direction {
    /*display: none;*/
    margin: 0 12px;
    width: 12px;
    position: relative;
    margin-top: -8px;
}

.direction i.fa {
  color: #fff;
  position: absolute;
}

.direction i.fa.fa-arrow-left {
  right: 5px; 
}

.direction i.fa.fa-arrow-right {
    top: -4px;
    left: 5px;
}

.white-bg-bordered {
    padding: 15px;
    border: 1px solid #ccc;
}

.first-letter-capital:first-letter {
    text-transform: capitalize;
}

.text-primary {
  color: #d93d39 !important;
}

.text-secondary {
  color: #3b3469 !important;
}

.ant-btn.btn-primary {
  background: #d93d39;
  color: #fff;
}

.wd-flex-center {
  display: flex;
  /*align-items: center;*/
}

.layout,
.dropdown-menu {
    font-size: 1.4rem;
}

.layout {
    padding-top: 64px;
    padding-bottom: 40px;
}

b, strong {
    font-weight: 700;
}

a,
a:hover,
a:focus {
  color: #101010;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: normal;
}

.m-t-25 {
  margin-top: 2.5rem;
}

.text-black {
    color: #000;
}

.font-wt-600 {
  font-weight: 600;
}

.font-size-10 {
    font-size: 10px !important;
    line-height: normal !important;
}

.font-size-11 {
    font-size: 11px;
    line-height: normal;
}

.font-size-12 {
    font-size: 12px;
    line-height: normal;
}

.font-size-20 {
    font-size: 20px;
    line-height: normal;
}

.font-tajawal {
    font-family: 'Tajawal', Arial, sans-serif;
}

.text-grey {
  color: #848484 !important;
}

.form-control {
  height: 32px;
  line-height: 32px;
  font-size: 1.4rem;
}

.btn {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 6px 12px;
}

.btn-primary,
.btn-primary.disabled, 
.btn-primary:disabled {
  background: #d93d39;
  border-color: #d93d39;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  background: rgba(217, 61, 57, .9) ;
  border-color: rgba(217, 61, 57, .9);
}

.filter-input {
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 2px 8px;
    margin-bottom: 0;
}

.filter-input:first-child {
  margin-right: 0;
}

.filter-input span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    margin-left: 3px;
}

.filter-input input {
    background: no-repeat;
    border: none;
    width: 100%;
    color: #fff;
    outline: none;
}

.filter-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}

.filter-input input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}

.filter-input input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

.filter-input input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/* Range Slider Css starts */
.w-filters__options .input-range__track {
  background: #d0cece;
}

.w-filters__options .input-range__track--active {
    background: #d93d39;
}

.w-filters__options .input-range__label {
  color: #101010;
  font-size: 1.2rem;
}

.w-filters__options .input-range__label--value {
    top: -3rem;
}

.w-filters__options .input-range__label--min, 
.w-filters__options .input-range__label--max {
  bottom: -2.2rem;
}

.w-filters__options .input-range__slider {
  background: #52335d;
  border: 1px solid #52335d;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.95rem;
}

/* Range Slider Css Ends */

.original-date {
    font-size: 1.2rem;
    color: #666;
    display: inline-block;
}

.low-price {
    font-size: 1.8rem;
    color: #f34f4f;
    text-align: left;
    display: block;
    font-weight: 500;
    line-height: 20px;
}

.low-price span {
    width: 100%;
    font-weight: 400;
    display: block;
    color: #999;
    font-size: 12px;
}

.low-price span.rs {
  display: inline;
}

.elip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-wrapper .react-tel-input .form-control {
  width: 100%;
  border-radius: 0;
  font-size: 14px;
  padding: .375rem .75rem;
  height: 32px;
  padding-left: 58px;
}

.input-wrapper .react-tel-input .flag-dropdown:before {
  display: none;
}

.input-wrapper .react-tel-input .selected-flag .arrow,
.edit-profile .flag-dropdown .selected-flag .arrow,
.input-wrapper .react-tel-input .selected-flag .arrow,
.edit-profile .flag-dropdown .selected-flag .arrow,
.login-wrapper__inp .react-tel-input .selected-flag .arrow,
.sign-wrapper__inp .react-tel-input .selected-flag .arrow {
  border: none;
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
  padding: 0;
  top: -2px;
  margin-left: 0;
  transform: rotate(0deg)
}

.w-traveller-detail__right-input .input-wrapper .ant-picker {
  border: 1px solid #ced4da;
  width: 100%;
}

.w-traveller-detail__right-input .input-wrapper .ant-picker .anticon {
  top: -3px;
  position: relative;
}

.w-traveller-detail__right-input .input-wrapper input[type="file"] {
  line-height: 18px;
}

.adt-form {
    padding: 15px;
    /*border-top: 1px solid #ccc;*/
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 990px) {
  .layout {
    padding-top: 96px;
    padding-bottom: 42px;
  }
}

@media (min-width: 990px) {
    .filter-input {
        width: 160px;
        margin-bottom: 0;
        margin-right: 15px;
        border-radius: 5px;
    }
}

._loading_overlay_overlay.css-df17o1 {
  position: fixed;  
  bottom: 0px;
  z-index: 9999;
}

.demo-loading-container {
  text-align: center;
}

.ant-spin-dot-item {
  background-color: #d93d39 !important;
}

.ant-spin-text {
  color: #d93d39;
}

/* Modal Popup CSS start */

.modal-header {
  font-weight: 600;
  background-color: #f7f7f7;
  margin-bottom: 5px;
}

@media (min-width: 990px) and (max-width: 1024px) {
  .layout {
    padding-top: 80px;
  }
}

.bgimg {
  border-radius: 5px;
  border: 1px solid #d93d39;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  min-height: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.bgimg_title h1 {
    font-size: 32px;
    line-height: normal;
    color: #d93d39;
}

.modal-body {
  max-height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}

.top-border {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.login-wrapper__inp .react-tel-input .form-control+div:before,
.sign-wrapper__inp .react-tel-input .form-control+div:before {
  top: -11px;
  left: 53px;
  font-size: 12px;
}

.sign-wrapper__inp input[type="file"] {
  height: auto;
  line-height: normal;
}

.sign-wrapper__inp {
  align-items: center;
}

.sign-wrapper__inp > label {
  white-space: nowrap;
  margin-right: 15px;
}
.login-wrapper__inp .react-tel-input .form-control,
.sign-wrapper__inp .react-tel-input .form-control {
  border: 1px solid #ececec;
  width: 100%;
}

.login-wrapper__inp .react-tel-input .form-control.is-invalid,
.sign-wrapper__inp .react-tel-input .form-control.is-invalid {
  border-color: #dc3545;
}

.login-wrapper__inp .react-tel-input .form-control:hover,
.sign-wrapper__inp .react-tel-input .form-control:hover {
  border-color: #ececec;
}

.login-wrapper__inp .invalid-feedback:last-child,
.sign-wrapper__inp .invalid-feedback:last-child {
  display: block;
}

.w-filter__heading span:first-child {
    padding-right: 5px;
    line-height: normal;
    margin-bottom: 5px;
}

.w-filters__sec .w-filter__heading {
  align-items: start;
}
