.w-filters-sidebar {
    background: none;
}

.w-filter-wrap__header {
    margin: -20px -20px 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.w-filter-wrap__header span {
    font-size: 20px;
    font-weight: 500;
}

.w-filter-wrap__header > button {
    background: none;
    border: none;
    margin-right: 10px;
}

.w-filters__sec {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.w-filter__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-filter__heading a {
    color: #d93d39;
}

.w-filters__options label {
    display: block;
    margin-bottom: 0;
}

.w-filters__options input {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
} 

.price_slider {
    width: 220px;
    position: relative;
    margin-top: 20px;
}

.price_slider > div {
    border-top: 2px solid #d82a1b;
}
  
.price_slider > span {
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    display: inline-block;  
}

@media (min-width: 990px) {
    .w-filters-sidebar-wprapper {
        flex:0 0 20.83333%;
        max-width: 20.83333%;
    }
    .w-filters-details-wprapper {
        flex-basis: 79.16667%;
        max-width: 79.16667%;
    }
}


  .price_slider > span.price_slider-rightControl {
    right: 0;
  }

  .input-range-wrapper {
    padding: 0 15px;
    margin-top: 25px;
  }

@media (min-width: 1025px) {
    .w-filters-sidebar {
        position: sticky;
        top: 115px;
    }
}

@media (max-width: 990px) {
    .w-filters-sidebar-wprapper {
        display: none;
        position: fixed;
        background: #fff;
        z-index: 9999;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        padding: 20px;
        left: 0;
        right: 0;
    }
}

@media (min-width: 990px) and (max-width: 1024px) {
    .w-filters-sidebar-wprapper .w-filters-sidebar {
        position: sticky;
        top: 75px;
    }
}