.my-booking__title {
    background: #333;
    color: #fff;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    font-weight: 400;
    margin-bottom: 0;
}

.my-booking h3 {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 12px;
    margin: 0 30px;
}

.my-booking h3 > span {
    display: block;
    min-height: 50px;
}

.my-booking h3 > span i {
    color: #d93d39;
    font-size: 40px;
}

.my-booking__options {
    margin: 0 0 25px;
    border: 1px solid #f3f3f3;
    border-top: none;
    padding: 15px 0;
}

.my-booking__options ul {
    margin: 10px 30px;
}

.my-booking__options ul li,
.my-booking__options ul a {
    display: block;
    text-align: left;
    color: #101010;
    position: relative;
    margin-bottom: 5px;
}

.my-booking__options ul a:after,
.my-booking__options ul a:before {
    border-right: 1px solid;
    content: '';
    display: block;
    height: 7px;
    margin-top: -5px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 2px;
    top: 50%;
    width: 0;
}

.my-booking__options ul  a:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.my-booking__bottom {
    margin: 0 -6px;
}

.my-booking__bottom .profile-info__image {
    width: 80px;
    height: 80px;
    margin-bottom: 15px !important;
}

.profile-info__image {
    overflow: hidden;
}

.my-booking__bottom .profile-info__image i {
    font-size: 40px;
}

.profile-info__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.my-booking__bottom > div {
    padding: 0 5px;
}

.my-booking__bottom .white-bg {
    box-shadow: none;
    border: 1px solid #f3f3f3;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.my-booking__bottom--box {
    min-height: 105px;
    border: 1px solid #f3f3f3;
    padding: 12px;
}

.my-booking__bottom--box .slick-list img {
    max-width: 100%;
}

.my-booking__bottom--box .slick-slider .slick-prev {
    left: -5px;
}

.my-booking__bottom--box .slick-slider .slick-arrow {
    top: 50%;
    z-index: 99;
}

.my-booking__bottom--box .slick-slider .slick-slide {
    padding: 5px 15px;
    margin: 0;
}

.my-booking__bottom--box .slick-initialized .slick-slide {
    position: relative!important;
}

.my-booking__bottom--box .bg-wadiia-special-wrap{
    position: inherit!important;
}

@media (min-width: 767px) {
    .my-booking__options--box {
        min-height: 150px;
        border-right: 1px solid #f3f3f3; 
        display: block;
    }
    .my-booking__options--box:last-child {
        border-right: none;
    }
    .my-booking h3 {
        border-bottom: 1px solid #f3f3f3;
    }
}